/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Zilla Slab', Times, 'Times New Roman', serif;
}

html,
body {
    background-color: whitesmoke;
}

h1 {
    font-size: 6.854rem;
    font-family: 'Pathway Gothic One', Hevletica, Arial, sans-serif;
    padding: 1rem 2rem;
    text-shadow: 0.3rem 0.3rem rgba(1,1,1,0.1);
    text-align: center;
}

h2 {
    font-size: 4.23rem;
    font-family: 'Pathway Gothic One', Hevletica, Arial, sans-serif;
    padding: 1rem 2rem;
}

nav li {
    font-size: 2.618rem;
}

p {
    font-size: 1.618rem;
    padding: 1rem 2rem;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    color: black;

}

header {
    background-color: #5691bb;
    color: white;
}

/*****HORIZONTAL MENU******/

.menu-h {
    width: 100%;
   
}

.menu-h li {
    list-style:none;
    float:left;
    width:20%;
    text-align:center;
    font-size: 1.7rem;
    background-color:#28547f;
    
}

.menu-h a,
.menu-h a:link,
.menu-h a:visited {
    display:block;
    color:lightgrey;
    text-decoration: none;
    padding:0.5rem;
    border-bottom:5px solid #28547f;
}

.menu-h a:hover,
.menu-h a:active {
    border-bottom-color:#5691bb;
    color:white;
}


/*****VERTICAL MENU******/

.menu-v {
    width: 20%;
    float:left;
}

.menu-v li {
    list-style:none;
    background-color:#c7d8e3;
    text-align:center;
    font-size: 1.7rem;
        text-shadow: 0.1rem 0.1rem rgba(1,1,1,0.2);
}

.menu-v a,
.menu-v a:link,
.menu-v a:visited {
    display:block;
    color:white;
    text-decoration: none;  
    padding:0.5rem;
}

.menu-v a:hover,
.menu-v a:active {
    background-color:#a2b4c6;
}

main {
    width: 80%;
    float: right;
    padding-bottom:100px;
}

footer {
    clear: both;
    padding-left:50px;
    background-color:whitesmoke; 
}
